%footer.footer
  %ul.social-link
    %li
      = link_to "https://github.com/tranquangvu" do
        = fa_icon "github"
    %li
      = link_to "https://www.facebook.com/quangvu.tran.940" do
        = fa_icon "facebook"

  .page-info
    Design and develop by tranquangvu